*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.classpath
/.project
/.settings
/.cjs-cookie
/.cjs-round

/javadoc.xml

# downloaded input output
input
output
extracted-sample-input
extracted-sample-output

*.in
*.out

# intellij files
*.iml
.idea
